
.cartFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 14px 0 14px 14px;
    background-color: #ef534e;
    color: #fff;
    left: 0;
    right: 0;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}
.cartFooterItemSection {
    font-size: 16px;
    color: #fff;
}

.cartFooterTaxSection {
    font-size: 14px;
    opacity: .6;
    padding-left: 10px;
}
.cardFooterViewCartBtn {
    margin-left: auto;
}

.cardFooterViewCartBtn .ui.button {
    background: #ef534e;
    color: #fff;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #ef534e none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
}