.description {
    font-size: 1rem;
    padding-top: .42em;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 22px;
    line-height: 1px;
    margin-bottom: 20px;
}